body {
    background: url("../img/grass.png") repeat center center;
    margin: 0; padding: 0;
    font-family: Arial;
}

.game_wrap {
    display: flex;
    justify-content: space-evenly;
    margin: 0 30px;
    gap: 30px;
}
.game_wrap .game {
    position: relative;
    flex: 2;
    opacity: 0.01;
}

.land {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 100px auto;
    background: rgba(233,71,212,.61) url("../img/quadrato.svg") repeat top left;
    background-size: 10%;
    position: relative;
}
.land > div {
    position: absolute;
}

.land .hero {
    width: 10%; height: 10%;
    background: url("../img/player/bee.svg") no-repeat center center;
    background-size: contain;
    transition-duration: 100ms;
}

.land .object {
    width: 10%; height: 10%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: 100ms;
}

.score {
    color: #ffffff;
    position: absolute; top: 30px; left: 30px; font-size: 36px;
}

.credits {
    position: absolute; bottom: 0; left: 0; color: #ffffff;
}